$color-slate-50: rgb(248 250 252);
$color-slate-100: rgb(241 245 249);
$color-slate-200: rgb(226 232 240);

$color-slate-700: rgb(51 65 85);
$color-slate-800: rgb(30 41 59);
$color-slate-900: rgb(15 23 42);

$font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


$text-sm: 0.875rem; /* 14px */
$line-height-sm: 1.25rem; /* 20px */

$text-base: 1rem; /* 16px */
$line-height-base: 1.5rem; /* 24px */

$text-lg: 1.125rem; /* 18px */
$line-height-lg: 1.75rem; /* 28px */

$text-xl: 1.25rem; /* 20px */
$line-height-xl: 1.75rem; /* 28px */

$text-2xl: 1.5rem; /* 24px */
$line-height-2xl: 2rem; /* 32px */

$text-7xl: 4.5rem; /* 72px */
$line-height-7xl: 1;

$text-8xl: 6rem; /* 96px */
$line-height-8xl: 1;

$text-9xl: 8rem; /* 128px */
$line-height-9xl: 1;
